<footer>
    Finnalyze.org is a <a href="https://github.com/FinnTheFoxxo/finnalyze.org" target="_blank" rel="noopener noreferrer">free and open-source</a> project.
</footer>

<style>
    footer {
        background-color: var(--primary-darker);
        padding: 1em 3em;
        font-size: 0.7rem;
        text-align: center;
    }
    @media (max-width: 720px) {
        footer {
            padding: 1em;
            font-size: 0.7rem;
        }
    }
</style>