<header>
	<nav>
		<a class="logo-container" href="/">
			<img class="logo" src="/temp-logo.svg" alt="Logo" />
		</a>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 3em;
		background-color: var(--gray-dark);
		height: 3.5rem;
		display: flex;
		align-items: center;
	}

	header a {
		color: var(--white);
		text-decoration: none;
	}

	.logo-container {
		display: flex;
	}

	.logo {
		height: 1.5rem;
	}

	@media (max-width: 720px) {
		header {
			padding: 0 1em;
		}
	}
</style>
